%html
  %body
    %div
      %a{:href =>"/home?session=#{@token}"}Home
    %div
      -@dialogs.each do |dialog,messages|
        %div
          %a{:href => "/messages/#{dialog}?session=#{@token}"}=dialog
