- for i in 0...@posts.length
  %div{:class => "post"}
    %a{:href => "/search/" + -@posts[i]["author"] + "?session=" + -@token}
      =@posts[i]["author"]
    posted on
    =@posts[i]["date"] + " :"
    %br
    =@posts[i]["content"]
