.profile
  .profile_name
    =@username
  %div
    .profile_text
      Posts:
    .profile_value
      =@cnt_posts
    .profile_text
      Subscribers:
    .profile_value
      =@cnt_subscribers
%div
  %form{:method => "POST", :action => "", :style => "display:inline-block"}
    %input{:name => "content", :type => "text", :placeholder => "What's new?"}
    %button{:type => "submit"}SHARE
- for i in 0...@posts.length
  %div{:class => "post"}
    %a{:href => "/search/" + -@posts[i]["author"] + "?session=" + -@token}
      You
    posted on
    =@posts[i]["date"] + " :"
    %br
    =@posts[i]["content"]
    %form{:action => "/delete", :method => "POST", :style => "width: 100%"}
      %input{:type => "hidden", :name => "id", :value => -(@posts.length-i-1).to_s}
      %input{:type => "hidden", :name => "session", :value => -@token}
      %button{:type => "submit"}Delete
