- for i in (0...@username.length)
  .profile
    .profile_name
      =@username[i]
    %form{:action => "/add_sub", :method => "post", :class=>"button_subscribe"}
      %input{:type => "hidden", :name => "session", :value => -@token}
      %input{:type => "hidden", :name => "username", :value => -@username[i]}
      %input{:type => "hidden", :name => "subscribed", :value => "true"}
      %button{:type => "submit"}Unsubscribe
    %div
      .profile_text
        Posts:
      .profile_value
        =@cnt_posts[i]
      .profile_text
        Subscribers:
      .profile_value
        =@cnt_subscribers[i]
