%html
  %body
    %div
      %a{:href =>"/home?session=#{@token}"}Home
    %div
      ="Here are #{@username}'s posts:"
      - @posts.each do |post|
        %div=post
    %div
      %form{:action => "/add_sub", :method => "post"}
        %input{:type => "hidden", :name => "session", :value => -@token}
        %input{:type => "hidden", :name => "username", :value => -@username}
        %input{:type => "hidden", :name => "subscribed", :value => -@subscribed.to_s}
        %button{:type => "submit"}
          - if @subscribed
            ="Unsubcribe!"
          - else
            ="Subscribe!"
    %div
      %form{:method => "post", :action => "/send_message"}
        %input{:type => "text", :name => "content"}
        %input{:type => "hidden", :name => "session", :value => -@token}
        %input{:type => "hidden", :name => "to", :value => -@username}
        %button{:type => "submit"}Send message!
