.profile
  .profile_name
    =@username
  %form{:action => "/add_sub", :method => "post", :class=>"button_subscribe"}
    %input{:type => "hidden", :name => "session", :value => -@token}
    %input{:type => "hidden", :name => "username", :value => -@username}
    %input{:type => "hidden", :name => "subscribed", :value => -@subscribed.to_s}
    %button{:type => "submit"}
      -if @subscribed
        ="Unsubscribe"
      -else
        ="Subscribe"
  %div
    .profile_text
      Posts:
    .profile_value
      =@cnt_posts
    .profile_text
      Subscribers:
    .profile_value
      =@cnt_subscribers


- for i in 0...@posts.length
  %div{:class => "post"}
    %a{:href => "/search/" + -@posts[i]["author"] + "?session=" + -@token}
      =@posts[i]["author"]
    posted on
    =@posts[i]["date"] + " :"
    %br
    =@posts[i]["content"]
