body {
  background-color: rgb(0,162,232);
}
.top {
  margin: 0px;
  width: 100%;
  height: 30px;
  padding-top: 20px;
  position: fixed;
  top: 0px;
  background-color: rgb(0,162,232);
  vertical-align: center;
}
.block_for_logo {
  display: inline-block;
  text-align: center;
  width: 15%;
}
.search_block {
  display: inline-block;
  width: 70%;
}
.logout_block {
  display: inline-block;
    margin-left: auto;
    margin-right: 0;
    width: 15%;
    text-align: right;
    position: absolute;
    right: 30;
}
.main {
  margin-top: 50px;
}
.menu {
  position: fixed;
  background-color: rgb(0,162,232);
  text-align: center;
  width: 15%;
  display: inline-block;
  height: 100%;
}
.menu div {
  height: 35px;
  padding-top: 15px;
}
.menu div:hover {
  background-color: rgb(153,217,234);
}
.posts_block {
  background-color: rgb(153,217,234);
  text-align: center;
  display: inline-block;
  height: auto;
  min-height: 100%;
  min-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.posts_block input {
  font-size: 20;
  width: 85%;
  min-height: 50px;
}
.posts_block form {
  width: 70%;
}
.post {
  margin-top: 15px;
  min-height: 50px;
  width: 70%;
  margin-left: 15%;
  background-color: white;
  text-align: center;
}
.profile {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
  background-color: white;
  width: 70%;
  margin-left: 15%;
}
.profile_text {
  display: inline-block;
  margin-left: 10px;
  color: grey;
  font-size: 15;
}
.profile_value {
  display: inline-block;
  margin-left: 10px;
  color: black;
  font-size: 20;
  font-weight: bold;
}
.profile_name {
  font-size: 30;
  font-weight: bold;
  margin-left: 10px;
  color: rgb(0,162,232);
  display: inline-block;
}
.button_subscribe {
  margin-left: 10px;
  display: inline-block;
}
.username_block {
  font-size: 30;
  font-weight: bold;
  margin-left: 10px;
  color: rgb(0,162,232);
  display: inline-block;
  width: 50%;
}
.last_message_time {
  display: inline-block;
  text-align: right;
  width: 45%;
  color: grey;
}
.last_message {
  font-size: 20;
  margin-left: 10px;
  width: 100%;
  padding-top: 10px;
  text-align: left;
}
.dialog_block {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
  background-color: white;
  width: 70%;
  margin-left: 15%;
}
.dialog_block:hover{
  background-color: aliceblue;
}
