.top {
  margin: 0px;
  width: 100%;
  height: auto;
}
.block_for_logo {
  display: inline-block;
}
.search_block {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1000;
  width: 80%;
}
.logout_block {
  display: inline-block;
  width: 10%;
}
